.input {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    place-content: center;
    margin-top: 0.4rem;
  }
  
  .label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    padding-bottom: 0.5rem;
    
  }
  
  label:after { content: ": " }